/* body{
    background-image: url(https://media.glamour.com/photos/5cddbf8953c5e780a34a6545/master/w_2560%2Cc_limit/115005_0052b.jpg);
    background-size: cover;
} */

#desc{
    font-size: larger;
}