body{
    background-color: #a99f0c;
}

#desc{
    font-size: larger;
}

#rules{
    font-size: larger;
}

#start{
    font-size: 20px;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}